* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fafafa;
    color: #343434;
    font-family: 'Roboto', sans-serif;
}

.grid-container {
    display: grid;
    grid-template-rows: 1;
    grid-template-columns: repeat(12, 1fr);
    height: 100vh;
}

.pointer {
    cursor: pointer;
}

a {
    font-weight: 500;
    text-decoration: none;
}

/* Placeholders fade out on focus */

input:focus::placeholder {
    transition: opacity 0.2s ease-in-out;
    opacity: 0;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 2;
}

.nav-left {
    display: flex;
    align-items: center;
}

nav .logo {
    width: 48px;
    height: 48px;
    margin: 20px 0;
}

nav .menu {
    display: flex;
    list-style-type: none;
}

nav .menu .menu-item {
    position: relative;
}

nav .menu .menu-item a {
    color: white;
    display: block;
    padding: 10px 50px;
}

.nav-login {
    margin-right: 20px;
    border: 1px solid #343434;
    border-radius: 10px;
}

.nav-sign-up {
    background-color: #3069F0;
    border-radius: 10px;
}

.nav-sign-up a {
    color: white !important;
}

.nav-sticky {
    background-color: #fafafa;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.nav-sticky .menu .menu-item a {
    color: #343434;
}

/* index.html */

#nav-landing .nav-login {
    border: 1px solid white;
}

#nav-landing.nav-sticky .nav-login {
    border: 1px solid #343434;
}

#hero {
    position: relative;
}

#hero-bg-wrapper {
    background-color: #F97370;
    display: flex;
    justify-content: flex-end;
    height: 100vh;
}

#hero-bg {
    height: 100%;
}

#hero-content {
    color: white;
    position: absolute;
    top: 50%;
    left: 100px;
    transform: translateY(-50%);
    z-index: 1;
}

#hero-title {
    font-size: 2.5rem;
    font-weight: 700;
}

#hero-subtitle {
    font-size: 2rem;
    font-weight: 300;
    margin-bottom: 20px;
}

#hero-btn {
    background-color: #3069F0;
    color: white;
    font-size: 1.2rem;
    border: 2px solid #3069F0;
    border-radius: 10px;
    padding: 5px 50px;
    outline: none;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}

#trending {
    background-color: #f1f1f1;
    text-align: center;
    padding: 100px 0;
}

#trending p:first-child {
    margin-bottom: 100px;
}

.landing-container {
    display: flex;
    justify-content: space-between;
    margin: 200px 100px;
}

.landing-content {
    display: flex;
    flex-direction: column;
}

.landing-content.right {
    text-align: right;
    align-items: flex-end;
}

.landing-title {
    font-size: 2.5rem;
    font-weight: 700;
}

.landing-title-underline {
    background-color: #3069F0;
    margin: 20px 0;
    border-radius: 50px;
    width: 400px;
    height: 10px;
}

.landing-desc {
    width: 50%;
}

#mobile-wrapper {
    position: relative;
    margin-top: 300px;
}

.carousel-item {
    width: 25%;
    margin: 10px;
}

.course-card {
    background-color: white;
    text-align: center;
    word-wrap: break-word;
    border-radius: 25px;
    width: 100%;
    height: 600px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.course-card img {
    margin: 20px 0 0;
    border-radius: 25px 25px 0 0;
    width: 90%;
    height: 50%;
}

.course-card-title {
    font-size: 1.5rem;
    font-weight: 500;
    margin: 20px;
}

.course-card-desc {
    margin: 0 5px;
}

.course-card-completion {
    color: #F97370;
    font-size: 30px;
    margin: 20px;
}

/* login.html */

.ls-bg {
    background-color: #F97370;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    grid-column-start: 1;
    grid-column-end: 6;
}

.ls-bg .logo {
    width: 200px;
    margin: 0 auto;
}

.ls-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: 1 / 6 / 1 / 13;
}

.ls-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.ls-form form {
    position: relative;
}

.ls-form h1 {
    display: block;
    text-align: center;
    margin-bottom: 100px;
}

.ls-input {
    background-color: transparent;
    font-size: 1.2rem;
    font-weight: 100;
    width: 500px;
    border: none;
    outline: none;
    border-bottom: 1px solid #343434;
}

#login-username, #login-password {
    display: inline-block;
    margin: 0 -30px 50px 0;
}

#sign-up-email, #sign-up-username, #sign-up-password {
    display: block;
    margin-bottom: 50px;
}

#forgot-password {
    color: #F97370;
    position: absolute;
    right: 0;
}

.ls-btn-wrapper {
    display: flex;
    justify-content: center;
}

.ls-btn-round {
    font-family: 'Roboto';
    font-size: 1.2rem;
    padding: 10px 50px;
    outline: none;
    border-radius: 50px;
    width: 300px;
}

.btn-outline-red {
    background-color: transparent;
    color: #F97370;
    border: 2px solid #F97370;
}

.btn-outline-red:hover {
    background-color: #F97370;
    color: white;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
    transition: background-color 0.2s ease-in-out;
}

.btn-blue {
    background-color: #3069F0;
    color: white;
    border: 2px solid #3069F0;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}

#login-btn-login, #sign-up-btn-sign-up {
    margin: 100px 0 50px;
}

.loader {
    background-color: #fafafa;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-area: 1 / 6 / 1 / 13;
    z-index: 1;
    visibility: hidden;
}

.loader>* {
    margin: 10px;
}

.spinner {
    width: 64px;
    height: 64px;
    border: 2px solid #f1f1f1;
    border-top: 2px solid #F97370;
    border-radius: 50%;
    animation: spin 1s cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.alert {
    color: white;
    width: 100%;
    margin-bottom: 50px;
    padding: 10px 20px;
    border-radius: 50px;
}

.alert-danger {
    background-color: #F97370;
}

.alert-success {
    background-color: #5cb85c;
}

.close-alert {
    width: 16px;
    border-width: 2px;
    float: right;
}

/* home.html */

#home-header {
    background-color: #f1f1f1;
    display: grid;
    grid-template-rows: 1;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 20px;
    padding: 100px 0 50px;
    word-wrap: break-word;
    height: 75vh;
}

#home-header>* {
    border-radius: 25px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#home-header h1 {
    margin: 20px 20px 10px;
}

#home-header img {
    margin: 10px 20px;
    border-radius: 25px 25px 0 0;
}

#home-header h2 {
    margin: 10px 20px 0;
}

#home-header p {
    margin: 0 20px;
}

#course-of-the-day {
    grid-area: 1 / 2 / 2 / 6;
    background-color: white;
}

#badges-preview {
    grid-area: 1 / 6 / 2 / 12;
    background-color: white;
}

#badges-preview-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 40px;
}

#badges-preview-flex img {
    height: 120px;
    width: 120px;
}

.home-title {
    font-size: 1.5rem;
    font-weight: 500;
    margin: 0 0 10px 20px;
}

#active-courses {
    margin: 100px 0;
}

#add-another-course {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* course-upload.html */

#course-upload {
    background: url('../images/drawkit/drawkit-grape-pack-illustration-12.svg') no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    height: 100vh;
}

#course-upload form {
    background-color: #fafafa;
    height: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    overflow: scroll;
}

#course-upload h2 {
    text-align: center;
}

#course-upload input {
    display: block;
    margin: 50px;
    padding: 10px;
    border: 1px solid transparent;
    outline: none;
    width: 500px;
}

#btn-upload-course {
    background-color: transparent;
    color: #FFCB00;
    font-size: 1.2rem;
    font-weight: 700;
    margin: 50px;
    padding: 10px 50px;
    border: 2px solid #FFCB00;
    border-radius: 25px;
    outline: none;
}

#btn-upload-course:hover {
    background-color: #FFCB00;
    color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* explore.html */

#explore-header {
    display: flex;
    justify-content: center;
    padding: 150px 0 50px;
}

#search-courses {
    border: 2px solid #343434;
    border-radius: 25px;
    width: 35%;
}

#search-courses>* {
    background-color: transparent;
    font-size: 1.2rem;
    padding: 10px 20px;
    border: none;
    outline: none;
}

#search-courses input {
    width: 75%;
}

#btn-search {
    float: right;
}

#filter-courses {
    font-size: 1.2rem;
    margin: auto 0 auto 50px;
    padding: 10px 20px;
    border: 2px solid #3069F0;
    border-radius: 25px;
    width: 15%;
}

#btn-filter-courses {
    float: right;
}

#explore-categories {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

#explore-categories>* {
    background-color: white;
    color: #F97370;
    font-weight: 500;
    margin: 10px;
    padding: 10px 30px;
    border-radius: 25px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#explore-categories>*:hover {
    background-color: #F97370;
    color: white;
}

/* educators.html */

#educators-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 100px;
}

#educators-header-bg {
    height: 75vh;
    float: right;
}

#btn-apply-for-educator {
    background-color: transparent;
    color: #F97370;
    font-size: 1.2rem;
    font-weight: 700;
    margin-top: 20px;
    padding: 10px 50px;
    border: 2px solid #F97370;
    border-radius: 10px;
    outline: none;
}

#btn-apply-for-educator:hover {
    background-color: #F97370;
    color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* When logged in */

.user-profile {
    border-radius: 50%;
    width: 32px;
    height: 32px;
}

.user-profile img {
    width: 100%;
}

/* https://www.w3schools.com/howto/howto_css_dropdown_navbar.asp */

.dropdown-content {
    background-color: white;
    display: none;
    flex-direction: column;
    width: 200px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.dropdown-content a {
    color: #343434;
    padding: 10px;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.user-profile:hover .dropdown-content {
    display: flex;
}

/* classroom.html */

#classroom {
    padding-top: 90px;
}

#classroom-sections {
    background-color: #EEF9F1;
    grid-area: 1 / 2 / 2 / 4;
    display: flex;
    flex-direction: column;
    padding: 20px;
    height: 638.31px;
}

#classroom-sections a {
    color: #343434;
    margin: 5px 0;
}

#classroom-spotlight {
    grid-area: 1 / 4 / 2 / 12;
}

#classroom-spotlight video {
    width: 100%;
}

#classroom-info, #disqus_thread {
    margin: 20px;
}

#classroom-publication-date {
    color: #707070;
}

#classroom-desc {
    margin: 50px 0;
}

#classroom-educator-info {
    display: flex;
}

#classroom-educator-pfp {
    margin-right: 10px;
    border-radius: 50%;
    width: 56px;
    height: 56px;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background: #F97370;
}

::-webkit-scrollbar-thumb:hover {
    background: #707070;
}

/* zen */

.flex-container {
    display: flex;
    flex-wrap: nowrap;
}

.flex-container>div {
    background-color: #f1f1f1;
    width: 240px;
    height: 40px;
    margin: 10px;
    text-align: center;
    line-height: 40px;
    font-size: 25px;
    border-radius: 20px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
    color: #F97370;
}

.flex-container>div:hover {
    background-color: #f97370;
    color: #f1f1f1;
}

.profile {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border: 1px solid #1f1a32;
    padding: 3px;
    background: #292343;
    display: flex;
    list-style-type: none;
    position: relative;
}

.container-profile {
    padding-top: 90px;
}

.profile-bg {
    background-color: #f1f1f1;
    width: 100%;
    ;
    height: 200px;
    margin-bottom: -200px;
}

.profile-header {
    width: 100%;
    display: flex;
    height: 200px;
    position: relative;
}

.profile-img {
    float: left;
    width: 340px;
    height: 200px;
    margin-left: 250px;
}

.profile-img img {
    border-radius: 50%;
    height: 230px;
    width: 230px;
    border: 5px solid #fff;
    position: absolute;
    left: 50px;
    top: 20px;
    z-index: 1;
    background: #fff;
    margin-left: 250px;
    border: 20px solid white;
}

.profile-info {
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 30px;
    z-index: 1;
}

.profile-info h3 {
    font-variant: small-caps;
    font-size: 2rem;
    font-family: sans-serif;
    font-weight: bold;
}

.profile-info .address {
    display: flex;
    font-weight: bold;
    color: #777;
}

.profile-info .address p {
    margin-right: 5px;
}

.more-info {
    height: 350px;
    width: 60.7%;
    margin: auto;
    background-color: white;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    margin-top: -50px;
}

.grid-info {
    display: grid;
    grid-template-columns: 200px repeat(3, 1fr);
    padding: 20px;
    height: 350px;
}

.grid-info>div {
    background-color: rgba(255, 255, 255, 0.8);
    font-size: 20px;
}

.grid-about {
    grid-column-start: 2;
    grid-column-end: 4;
}

div.badge {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #EDEDED;
    grid-column-start: 4;
    grid-column-end: 5;
    border-radius: 25px;
}

.badge b {
    font-size: 30px;
}

.badges {
    width: 60.7%;
    margin: auto;
    background-color: white;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

.grid-badge {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 50px 0;
    padding: 10px;
}

.grid-badge div {
    background-color: rgba(255, 255, 255, 0.8);
    font-size: 20px;
    text-align: center;
    margin: 10px;
    padding: 10px 0;
    background-color: #FFD1DB;
    border-radius: 25px;
}

.grid-badge img {
    width: 75%;
}

.settings h1 {
    padding-top: 100px;
    padding-left: 150px;
}

.edit-profile {
    height: 1000px;
    width: 80%;
    margin: auto;
    background-color: white;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    margin-top: 50px;
    border-radius: 25px;
}

.edit-profile h2 {
    padding-bottom: 50px;
}

#settings-pfp {
    background-color: #292343;
    border-radius: 50%;
    height: 100px;
    width: 100px;
}

#btn-change-pfp {
    margin-top: 0;
    width: 100px;
    height: 30px;
    background-color: #3069F0;
    color: white;
    border-radius: 25px;
    border: none;
    outline: none;
}

#settings-info {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 150px 50px 50px;
    border-radius: 25px;
    width: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#settings-info > * {
    margin: 10px;
}

#settings-info input[type=text] {
    width: 100%;
    margin-bottom: 20px;
    padding: 12px 20px;
    display: inline-block;
    border: 2px solid #cccccc;
    border-radius: 25px;
    outline: none;
}

#btn-save-settings {
    background-color: #3069F0;
    color: white;
    padding: 10px 50px;
    margin-bottom: 10px;
    border: none;
    border-radius: 25px;
    outline: none;
}

#settings-privacy {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
    padding: 50px;
    border-radius: 25px;
    width: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#settings-privacy > div {
    display: flex;
    justify-content: space-between;
    margin: 10px;
    width: 100%;
}

.switch {
    position: relative;
    width: 45px;
    height: 20px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #6FF774;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}